// colors
$primary: #4B73FF;
$main: #0d0d19;
$main2: #1A213D;
$black: #000;
$white: #fff;
$gray: #8e8e8e;
$blue: #71a9fd;
$red: #cd4747;
$green: #2BD178;
// fonts
$mainFont: "IBM Plex Mono", sans-serif;
$inter: "Inter", sans-serif;
$sora: "Sora", sans-serif;
